/*

CSS Units :)
--------------------
- rem (relative to the font-size of the root element)
- em (relative to the font size of the element) 
- px (pixels) 
- % (relative to parent element)
- vw (relative to 1% of the width)
- vh (relative to 1% of the height)
- ch (relative to the width of the "0" (zero))
--------------------
*/

* {
    box-sizing: border-box;
  }
  
html,
body {
    margin: 0;
    color: white;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;/*overflow: hidden; Stop the page from scrolling */
}

/* 
---------------------------------- 
|                                |
|          HEADER/NAV            |
|                                |
----------------------------------
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color .5s ease;
    z-index: 1000;
}

.logo { /* Jelly text */
    color: white;
    margin-left: 3vw; /* Moves the text to the right */
    line-height: 7rem; /* Sets the height of a line box / Distance between lines and text */
    vertical-align: middle; /* Sets vertical alignment of an inline */
    text-decoration: none;
    font-size: 30px;
    font-family: 'Sarina', cursive;
}

.navbar { /* The whole navbarrr */
    display: flex; /* Sets the flexible length on flexible items */
    justify-content: space-between;
    transition: height .5s ease;
}

.nav-link:hover {
    color: #151515;
}

.nav-link { /* Styling the nav links*/
    color: white;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    line-height: 7em;
    vertical-align: middle;
    font-family: 'Nunito', sans-serif;
    padding: 18px;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:last-child { /* Last element among a group of sibling elements / heart */
    margin-right: 1vw;
    padding-left: 0 !important; /* Spacing between the insta and the heart */
}

.nav-link:nth-last-child(2) { /* Select one or more elements based on their order / instragram */
    margin-left: 2vw;
    padding: 1vw !important; /* Spacing between the insta and the heart */
}

.nav-link > i {
    font-size: 20px;
}

/* For the nav scrolling  */

.scrolling-active {
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0.1);
}

.scrolling-active .navbar {
    height: 6.6rem;
}

.scrolling-active .navbar a {
    color: #313131;
}

.scrolling-active #box{
    background-color: #e91e63;
    color: #fff;
}

.scrolling-active #box:hover {
    background-color: #e03d8f;
}

.scrolling-active .nav-link:hover {
    color: #e91e63;
}

.scrolling-active .nav-link::after {
    background-color: #313131;
}
/*---------------------------*/

#box { /* Box around the pricing */
    width: 100vw;
    height: 100vh;
    background-color: #e91e63;
    border-radius: 15px;
    padding: 12px 15px;
    transition: background-color .5s ease;
    box-shadow: 0 0 8px #e60977;
}

#box:hover {
    color: white;
    background-color: #e03d8f;
}

#heart {
    color: #e91e63;
}

/* 
---------------------------------- 
|                                |
|             MAIN               |
|                                |
----------------------------------
*/

#home {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.main > p {
    padding: 0% 10%;
    font-family: 'Source Sans Pro', sans-serif;
}

#subtitle {
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
}

#btn {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-decoration: none;
    background: #e91e63;
    border-radius: 15px;
    border: none;
    padding: 12px 40px;
    position: relative;
    top: 5vh;

    transition: background-color 0.5s ease;
    box-shadow: 0 0 8px #e60977;
}

#btn:hover {
    color: white;
    background-color: #e03d8f;
}

/* 
---------------------------------- 
|                                |
|            PRICING             |
|                                |
----------------------------------
*/

#pricing {
    color: black;
    text-align: center;
}

/* Pricing Description */
#pricing > h1 {
    font-size: 2em;
    padding-top: 2%;
    font-family: 'Nunito', sans-serif;
}

#pricing > p {padding: 0% 25% 2%;}

.cen-p {
    max-width: 1200px;
    margin: auto;
}

/*---------------------------*/

.column {
    float: left;
    width: 30%;
    padding: 0 10px;
}
  
.row {margin: 0 -5px 0 8vw;}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Card Styling */

.card {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(156, 156, 156);
}

.card li {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.title {
    color: white;
    display: inline-block;
    background-color: #e91e63;
    padding: 12px 30px !important;
    border-radius: 0 0 20px 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.price {
    font-size: 4em;
}

.price sup {
    font-size: 25px;
}

.btn-buy {
    color: white;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    background-color: #e91e63;
    border-radius: 15px;
    padding: 12px 15px;

    transition: background-color 0.5s ease;
    box-shadow: 0 0 8px #e60977;
    display: inline-block;
}

.btn-buy:hover {
    background-color: #e03d8f;
}
/*---------------------------*/

/* 
---------------------------------- 
|                                |
|        MEDIA RESPONSIVE        |
|                                |
----------------------------------
*/

@media screen and (max-width: 500px) {
    #pricing {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .service {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .service {
        width: 100%;
    }
}

@media screen and (max-width: 880px){
	.left{
		height: 200px;
	}
}

/* 
---------------------------------- 
|                                |
|             CONTACT            |
|                                |
----------------------------------
*/

.card-g {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    list-style-type: none;
    padding-inline-start: 2%;
    border-radius: 15px;
}

.card-g > li {
    padding: 2px;
    margin: 0;
}

.card-g:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#gallery > h1 {
    color: black;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding-top: 4%;
    font-size: 2em;
}

/* 
---------------------------------- 
|                                |
|             SERVICES           |
|                                |
----------------------------------
*/

#services {
    margin-top: 7%;
    background-color: #3106a6;
    text-align: center;
}

#services h1 {
    font-size: 2em;
    padding-top: 6%;
    margin-top: 40px;
    font-family: 'Nunito', sans-serif;
}

.cen-s {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.service {
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}

#services i {
    color: #e03d8f;
    font-size: 34px;
    margin-bottom: 30px;
}

.service h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.service p {
    color: #eee;
    font-size: 15px;
    font-weight: 500;
}

/* 
---------------------------------- 
|                                |
|             CONTACT            |
|                                |
----------------------------------
*/

#contact{
    color: black;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 100px;
}

#contact:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../images/welcomescreen.png") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.right > h2 {
    font-size: 2em;
}

.left{
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #e03d8f;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
    font-family: 'Nunito', sans-serif;
	padding: 0.5rem 1rem;
	background-color: #e91e63;
	color: #fff;
	font-size: 1.1rem;
	border: none;
    border-radius: 15px;
	outline: none;
	cursor: pointer;
	transition: .3s;

    transition: background-color 0.5s ease;
    box-shadow: 0 0 8px #e60977;
    display: inline-block;
}

.btn:hover{
    background-color: #e03d8f;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}


/* 
---------------------------------- 
|                                |
|             FOOTER             |
|                                |
----------------------------------
*/


.footer {
    color: black;
    text-align: center;
}


